.book {
    height: 11vh
}

.circle{
    min-width:1.3vh;
    min-height:1.3vh;
    width:1.3vh;
    height:1.3vh;
    max-width:1.3vh;
    max-height:1.3vh;
    padding: 0;
    background-color: white;
    border-radius: 50%;
    color: black;
}

.noImageText{
    position: absolute;
    color: grey;
    bottom: 0.5vh;
    width: 6.4vh;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}